@media (min-width: 300px) {
  .banner h1 {
    font-size: 3rem;
  }
} 

* {
  padding: none;
  text-decoration: none;
  outline: none;
  margin: none;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-size: 62.5%;
  background-color: antiquewhite;
}

.line_menu {
  width: 3rem;
  height: 3rem;
  top: 5rem;
  right: 5rem;
  z-index: 200;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 0.2rem;
  background-color: antiquewhite;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0);
}

.header {
  width: 100%;
  height: 100vh;
  position: relative;
}

.image_wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.image_wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
}

.banner {
  position: absolute;
  top: 30%;
  left: 15%;
  /* background-color: rgba(0,0,0,.3); */
}

.banner h1 {
  font-family: "Baloo Da 2", serif;
  font-size: 6rem;
  font-weight: 150;
  color: white;
  width: 50%;
  line-height: 7rem;
  letter-spacing: 0.2rem;
  text-shadow: 0.3rem, 0.5rem, rgba(0, 0, 0, 0.4);
  background-color: none;
}

.banner p {
  font-family: "Josefin Slab" serif;
  font-size: 4rem;
  font-weight: 200;
  color: white;
  width: 70%;
  letter-spacing: 0.1rem;
  margin-bottom: 4rem;
  text-shadow: 0.3rem.5rem, rgba(0, 0, 0, 0.4);
  background-color: none;
}

.banner button {
  width: 25rem;
  height: 7rem;
  background-color: antiquewhite;
  border: none;
  font-family: "Muli";
  color: rgb(1, 8, 14);
  font-size: 4rem;
  text-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.allign {
  display: block;
  width: 30rem;
}


